* {
    color: white;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

h2 {
    font-size: 35pt;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #0d0c13;
}

section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

section h1 {
    font-size: 4rem;
}

.section_Pictures {
    height: auto;
!important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.5rem;
    color: #bababa;
}

/*Section Welcome*/
.section_Home {
    margin: 0;

}

.home-content {
    height: 80%;
    width: 90%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.home-flexelement {
    text-align: center;
    padding: 15px 0 15px 0;
    width: 80vh;
}

.home-text {
    margin: 20px;
}

.camera-sgv {
    margin: 10px;
}

.camera-sgv svg {
    width: 100%;
}

/*Section Wallpaper*/
.section_Wallpaper {
    height: auto;
}

.wallpaper-content {
    height: 80%;
    width: 90%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.wallpaper-flexelement {
    text-align: center;
    margin: 10px;
    padding: 15px 0 15px 0;
}

.box1 {
    font-size: 20px;
}

.box1 p {
    margin: 10px;
}

.box2 img {
    size: auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.box3 img {
    size: auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

/*Section Code*/
.fullscreen-video-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0c13;
}

.fullscreen-video-wrap video {
    position: absolute;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content-video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-video {
    text-align: center;
    margin-top: 50vh;
}

/*Navbar*/
.navbar {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
}

.navlist {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}

.navlist li {
    margin: 0 1rem;
    display: inline-block;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    transition: 1s;
}

.navlist li a:hover {
    color: gray;
    transform: scale(1.6);
}

/*back-to-top*/
.section_Back {
    min-height: 0;
    height: auto;
    background: white;
    margin: 0;
}

.back-to-top {
    height: 75px;
    background-color: white;
}

.back-to-top p {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.back {
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 1s;
    padding-top: 15px;
    width: 50px;
}

.back:hover {
    color: #474747;
    transform: scale(1.1);
}

.fa-arrow-up {
    color: black;
}

.fa-arrow-up:hover {
    color: #474747;

}

/*some general style*/
.welcome {
    background: url("../images/background/IMG_NavBG.png") center;
    height: 75px;
    background-size: cover;
    padding: 100px;
    color: #ffffff;
    font-size: 30px;
    font-style: italic;
}

.text-center {
    text-align: center;
}

.links {
    text-decoration: none;
    color: #bababa;
}

.links:hover {
    color: gray;
}

.footer {
    background-color: #3b3b3b;
    padding: 20px 100px;
    color: white;

}

.footer h3 {
    letter-spacing: 3px;
    margin: 15px 0 10px 0;
}

.footer-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links li {
    padding: 5px 0 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer-hover:hover {
    color: gray;

}

.copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
}

/*Icons*/
.icons {
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
    transition: 1s;
    margin: 30px;
}

.icons-nav {
    letter-spacing: 10px;
    font-size: 30px;
    text-transform: uppercase;
    transition: 1s;
}

.fa-code-branch {
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 40px;
    color: #f24012;
}

.fa-project-diagram {
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 40px;
    color: #3091d1;
}

.fa-laptop-code {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 50px;
}

.fa-code {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 50px;
    color: #56b2de;
}

.fa-file-code {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 50px;
    color: #de9807;
}

.fa-git-alt {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 50px;
    color: #ff5e28;
}

.git2 {
    font-size: 40px;
!important;
    text-decoration: none;
!important;
    text-transform: uppercase;
!important;
    transition: 1s;
!important;
    margin: 50px;
!important;
    color: #ffffff;
!important;
}

.fa-instagram {
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: 1s;
}

.fa-github {
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: 1s;
}

.fa-images {
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: 1s;
}

.fa-mobile-alt {
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    margin: 40px;
}

.fa-laptop-code:hover {
    color: #56b2de;
    transform: scale(1.2);
}

.fa-mobile-alt:hover {
    color: #11becb;
    transform: scale(1.2);
}

.fa-instagram:hover {
    color: #bc33b0;
    transform: scale(1.2);
}

.fa-github:hover {
    color: #ff5e28;
    transform: scale(1.2);
}

.fa-images:hover {
    color: #9cdd29;
    transform: scale(1.2);
}

/*logo*/
#logo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    animation: fill 0.5s ease forwards 5s;
    -moz-animation: fill 0.5s ease forwards 5s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 482.5829772949219;
    stroke-dashoffset: 482.5829772949219;
    animation: line-anim 2s ease forwards;
    -moz-animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 459.56573486328125;
    stroke-dashoffset: 459.56573486328125;
    animation: line-anim 2s ease forwards 0.3s;
    -moz-animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 398.183349609375;
    stroke-dashoffset: 398.183349609375;
    animation: line-anim 2s ease forwards 0.6s;
    -moz-animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 292.2979431152344;
    stroke-dashoffset: 292.2979431152344;
    animation: line-anim 2s ease forwards 0.9s;
    -moz-animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 398.18450927734375;
    stroke-dashoffset: 398.18450927734375;
    animation: line-anim 2s ease forwards 1.2s;
    -moz-animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 569.0722045898438;
    stroke-dashoffset: 569.0722045898438;
    animation: line-anim 2s ease forwards 1.5s;
    -moz-animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 232.7000274658203;
    stroke-dashoffset: 232.7000274658203;
    animation: line-anim 2s ease forwards 1.8s;
    -moz-animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 451.5843505859375;
    stroke-dashoffset: 451.5843505859375;
    animation: line-anim 2s ease forwards 2.1s;
    -moz-animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 616.8059692382812;
    stroke-dashoffset: 616.8059692382812;
    animation: line-anim 2s ease forwards 2.4s;
    -moz-animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 616.8071899414062;
    stroke-dashoffset: 616.8071899414062;
    animation: line-anim 2s ease forwards 2.7s;
    -moz-animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 437.619140625;
    stroke-dashoffset: 437.619140625;
    animation: line-anim 2s ease forwards 3.0s;
    -moz-animation: line-anim 2s ease forwards 3.0s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 232.6979217529297;
    stroke-dashoffset: 232.6979217529297;
    animation: line-anim 2s ease forwards 3.3s;
    -moz-animation: line-anim 2s ease forwards 3.3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}
