@media screen and (max-width: 1000px) {
    /* Navbar*/
    .hamburger div {
        width: 50px;
        height: 6px;
        background: white;
        margin: 10px;
        transition: all .6s ease;
    }

    nav {
        position: relative;
    }

    .navbar {
        height: 5vh;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .navlist {
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 100%;
        margin: 0;
        flex-direction: column;
        clip-path: circle(50px at 90% -10%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        display: flex;
        justify-content: space-evenly;
    }

    .navlist.open {
        clip-path: circle(3000px at 90% -10%);
        -webkit-clip-path: circle(3000px at 90% -10%);
        pointer-events: all;
    }

    .landing {
        flex-direction: column;
    }

    .navlist li {
        opacity: 0;
    }

    .navlist li a {
        font-size: 30px;
    }

    .navlist li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .navlist li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .navlist li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .navlist li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .navlist li:nth-child(5) {
        transition: all 0.5s ease 1s;
    }

    li.fade {
        opacity: 1;
    }
}

.x .line1 {
    transform: rotate(-45deg) translate(-10px, 12px);
}

.x .line2 {
    opacity: 0;
}

.x .line3 {
    transform: rotate(45deg) translate(-10px, -12px);
}

.blur {
    filter: blur(5px);
    -webkit-transition: all 0.5s ease-in-out;
}

.video-blur {
    display: none;
}